

.headingMargin{
  margin: 50px;
}

.StandardTable thead th{
    background: lightgray;
}

.StandardTable thead th:first-of-type{
    border-top-left-radius: 10px;
}

.StandardTable thead th:last-of-type{
    border-top-right-radius: 10px;
}

.floatRight{
  float:right;
}

.imgRadius{
  border-radius: 50%;
}

.lineHeight{
  line-height: 2.5
}

.hrColor{
  background-color: black;
}

.bookingAlign{
  text-align: center;
  margin: 25px;
}

.column.dateDaysalign{
  display: flex ;
  margin: inherit;
}

.datealign{
  font-size: 33px;
  font-weight:900;
}

.daysAlign{
  line-height: normal;
  top:8px;
}

.standardTablewidth{
  width:100%;
}

.noteTextalign{
  text-align: center;
}

.tableMargin{
  margin:auto;
  width:45%;
}

.flexBoxwidth{
  width:110%;
}

.boxheight{
  height:200px;
  width: 100%;
}

.box.grandtotaldisplay{
  display:flex;
  width:529px;
}

.grandtotalwidth{
  width: 62%;
}
